* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(155,155,155);
}

#photos {
  position: relative;
  width: 1000px;
  margin:0 auto;
}

#img1, #img2, #img3 {
  position: absolute;
  border:solid 10px white;
  width: auto;
}

#img1 {
  box-shadow: 0 0 15px rgba(30,30,30,0.5);
  left: 0px;
  height: 200px;
  top: 50px;
}
#img2 {
  box-shadow: 0 0 15px rgba(30,30,30,0.5);
  left: 180px;
  height: 300px;
  top: 0px;
}
#img3 {
  box-shadow: 0 0 15px rgba(30,30,30,0.5);
  left: 500px;
  height: 200px;
  top: 50px;
}

.left {
  z-index: 1;
}
.center {
  z-index: 3;
}
.right {
  z-index: 2;
}