/*----------global---------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: "TerminalDosis-Light";
  src: url("TerminalDosis-Light.ttf")
}
@font-face {
  font-family: "Calibri";
  src: url("Calibri.ttf")
}

body {
  background-color: rgb(35,35,35);
}

div {
  /*border: solid 1px green;*/
}

a, a:visited, a:hover {
  text-decoration: none;
}

.bluebutton {
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(250,250,250);
  background-color: rgb(16,196,255);
  padding: 5px;
  width: 100px;
  text-align: center;
  margin-top: 20px;
}

.event {
  height: 111px;
  width: 285px;
}
.eventtext {
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
  width: 185px;
  float: right;
  text-align: left;
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(25,25,25);
}
.date {
  font-family: "TerminalDosis-Light";
  text-align: center;
  width: 55px;
	color: rgb(16,196,255);
	float: left;
	margin-left: 20px;
}
.day {
  font-size: 40pt;
  height: 40pt;
}
.month {
  font-size: 25pt;
  height: 25pt;
}

/*---------------header------------------*/
#header {
  background-image: url('img/bg_top.jpg');
  background-position: top center;
  height: 561px;
  width: 1000px;
  margin:0 auto;
}
#logo {
  position: relative;
  top: 20px;
  width: 290px;
  float: left;
  left: 75px;
  text-shadow: black 1px 1px 2px, white 0 0 1px;;
}
.title {
	color: rgb(255,255,255);
	font-family: "TerminalDosis-Light";
	font-size: 50pt;
}
.subtitle {
	color: rgb(117,117,117);
	font-family: "TerminalDosis-Light";
	font-size: 20pt;
	padding-left: 3px;
}
.letter { 
   color: rgb(16,196,255);
   font-size: 100%;
}

#nav {
  font-family: "Calibri";
  font-size: 12pt;
  width: 520px;
  float: right;
  clear: left;
  margin-bottom: 30px;
  position: relative;
  bottom: 2px;
  right: 40px;
}
#nav ul {
  list-style-image: url('img/listmarker1.png');
}
#nav li {
  float: left;
  margin-left: 40px;
}
#nav a, #nav a:visited {
	color: rgb(255,255,255);
}
#nav a:hover {
	color: rgb(16,196,255);
}

.centerimg {
  border:solid 10px white;
  float: left;
  position: relative;
  left: 50px;
  box-shadow: 0 0 15px rgb(30,30,30);
}
.leftimg {
  border:solid 10px white;
  border-right: 0;
  float: left;
  clear: both;
  position: relative;
  top: 25px;
  left: 67px;
  box-shadow: 0 0 15px rgb(30,30,30);
}
.rightimg {
  border:solid 10px white;
  border-left: 0;
  float: left;
  position: relative;
  top: 25px;
  left: 50px;
  box-shadow: 5px 5px 10px rgba(30,30,30,0.5);
}

#search {
  float: right;
  width: 200px;
  height: 26px;
  position: relative;
  right: 61px;
  top: 20px;
}
#search input {
  height: 26px;
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(130,130,130);
  padding-left: 9px;
}
.searchinput {
  position: relative;
  bottom: 8px;
}

/*--------------line1--------------*/
#line1 {
  background-color: rgb(240,240,240);
  width: 1000px;
  height: 470px;
  margin:0 auto;
}
.line1title {
  color: rgb(117,117,117);
	font-family: "TerminalDosis-Light";
	font-size: 30pt;
	text-align: left;
}
.line1img {
  border:solid 7px white;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(150,150,150,0.5);
}
.line1text {
  text-align: left;
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(25,25,25);
  padding-right: 20px;
}
#about, #exp, #new {
  float: left;
  position: relative;
  left: 67px;
  top: 40px;
  width: 285px;
  height: 340px;
}
#about {
  clear: right;
  border-right: solid 1px rgb(220,220,220);
  width: 305px;
}
#about .line1title {
  padding-left: 7px;
}
#exp {
  border-right: solid 1px rgb(220,220,220);
  border-left: solid 1px rgb(250,250,250);
  width: 265px;
}
#exp .bluebutton {
  margin-left: 35px;
}
#exp .line1text {
  margin-top: 13px;
}
#exp .line1title {
  padding-left: 25px;
}
#exp ul {
  list-style-image: url('img/listmarker2.png');
  padding-left: 35px;
}
#exp li {
  padding-top: 15px;
}
#new {
  border-left: solid 1px rgb(250,250,250);
}
#new .bluebutton {
  margin-left: 89px;
  margin-top: 25px;
}
#new .line1title  {
  text-align: left;
  padding-left: 20px;
}
.line1subtitle {
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(25,25,25);
  font-weight: bold;
}

/*--------------line2--------------*/
#line2 {
  background-color: rgb(65,65,65);
  width: 1000px;
  height: 420px;
  margin:0 auto;
}
.line2title {
  color: rgb(234,234,234);
	font-family: "TerminalDosis-Light";
	font-size: 30pt;
	text-align: left;
	padding-left: 15px;
}
.line2img {
  border:solid 7px white;
  margin-bottom: 16px;
  margin-right: 17px;
  box-shadow: 0 0 7px rgba(50,50,50,0.5);
}
.line2text {
  text-align: left;
  font-family: "Calibri";
  font-size: 12pt;
  color: rgb(234,234,234);
  padding-right: 20px;
  height: 222px;
}
#philo, #soon {
  height: 330px;
  float: left;
  position: relative;
  left: 67px;
  margin-top: 40px;
}
#philo {
  width: 570px;
  border-right: solid 1px rgb(50,50,50);
}
#philo .line2title {
  padding-left: 7px;
}
#soon {
  width: 285px;
  border-left: solid 1px rgb(76,76,76);
}
#soon .line2title {
  padding-left: 20px;
}
#soon .bluebutton {
  margin-left: 89px;
  margin-top: 18px;
}
#soon .eventtext {
  color: rgb(234,234,234);
}

/*-------------footer--------------*/
#footer {
  background-color: rgb(17,17,17);
  width: 1000px;
  height: 100px;
  margin:0 auto;
}

#social {
  float: right;
  position: relative;
  top: 77px;
  right: 30px;
}
